.top{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: left;
}

.intro{
    width: 50%;
    margin: auto;
    margin-top:20%;
}

.header__wrapper{
    border: 5px solid #014902;;
    text-align: center;
}
.intro h1{
    color: #014902;
    font-weight: 1000;
    font-size: 1.5rem;
   

}