.main-footer{
    color:  #014902;
    background-color: rgba(255, 255, 255, 0.986);
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 2px solid #fff;
    box-shadow: 0 -5px 5px -5px rgb(255, 255, 255);
    
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    left: 10%;
   
}

.row{
    display: flex;
    flex-direction: column;
   
}
.row img{
    max-width: 25px;
    
}
.col{
    width: 60%;
    padding: 0, 1rem;
    text-align: center;

}
.col2{
    margin: auto;
}
.col h4{
    font-size: 1rem;
    margin-bottom: 0; 
}

.col p{
    margin: 0;
}


.list{
    opacity: 1;
    list-style: none;
    list-style-type: none;
    padding: 10px 0 0;
    margin:auto;
    display: flex;
}
.list li{
    margin-left:10px ;
}
.list a{
    text-decoration:solid;
    color:  #014902;
   
}
.separator{
    width: 100%;
   
}
span {
    font-style: italic;
}

@media screen and (max-width : 768px) {
    .col h4{
        font-size: 0.7rem;
    }
    .col .list{
        font-size: 0.5rem;
    }
    .row{
        font-size: 0.7rem;
    }
    .col{
        width: 100%;
    }
}
