.nav {
    position: fixed !important;
    overflow: hidden;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.986);
    margin: 0;
    border-bottom: 2px solid #fff;
    box-shadow: 0 2px 4px  rgba(0,0,0,0.5);
    padding: 1.5rem 0 !important;
    color: #014902;
    font-family: Roboto, sans-serif;
}
  
.header img{
    width: 200px;
    margin-bottom: 0;
}
.header{
 padding-left: 7px;
}
.action{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: end;
}
.nav__menu {
    list-style: none;
    margin-top: 0.4rem;
    padding: 0 2rem;
    display: flex;
  }

  .nav__menu li {
    margin: 0;
    margin-left: 1rem;
  }
  
  .nav__menu a {
    text-decoration: none;
    color: #014902;

  }
  
  .nav__menu a:hover,
  .nav__menu a:active {
    color: #C1D5A4;
  }
  
  .burger{
    display: none;
    cursor: pointer;
    margin-left: 7rem;
  }
  .burger div{
    width:25px;
    height: 3px;
    background-color: #014902;
    margin: 5px;
    transition: all 0.3s ease;
  }
.btn{
  background-color:rgba(255, 255, 255, 0.986);
  border: none;
  color:#014902;
  font-size: 16px;
}
  @media screen and (max-width : 768px){
   .nav{
    height: 1.5rem;
   }
    .nav__menu{
      position: fixed;
      right:0%;
      z-index: -99;
      height: 100%;
      top: 0;
      background-color: rgba(255, 255, 255, 0.986);
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;

    }
    
    .header img{
      width: 150px;
      padding-top: 30px;
  }


  
    .nav__menu li{
      opacity: 1;
      padding: 20px;
      animation-name: navLinkFade;
      animation-duration: 4s;
  
    }
    .burger{
      display: block;
    }
  }

  




 .nav-active{
    transform: translateX(4%);
  } 
  
   @keyframes navLinkFade {
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
  
    }
  }
   
  .toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
  }
  .toggle .line2{
    opacity: 0;
  }
  .toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
  }  
  
  @media screen and (max-width: 370px){
    .header img{
      width: 110px;
      height: 40px;
  }
  }

  /* @media screen and (max-width: 300px){
    .header img{
      width: 90px;
      height: 30px;
  }
  } */